* {
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h1 {
    background-color: lightblue;
    text-align: center;
    font-size: 40px;
    color: rgb(109, 109, 109);
}
li {
    font-size: 28px;
}